@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'Limelight', sans-serif;
    user-select: none;
}

main{
    display: grid;
    grid-template-areas:
        "header"
        "tablero"
        "footer"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    background-color: #4aa05d;
    height: 100vh;
}

/* HEADER */
main header{
    padding: 30px 10px;
    grid-area: header;
}

main .tablero{
    grid-area: tablero;
}

main header h1.titulo{
    font-size: 80px;
    color: #fff;
    text-align: center;
    margin: 0;
}

main header p.info{
    font-size: 30px;
    color: rgb(252, 255, 71);
    text-align: center;
    margin:  -80px 0 0 0;
}

main header ul.marcador{
    list-style: none;
    margin: 60px 0 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main header ul.marcador li{
    margin: 0 15px;
}

/* TAPETE */
main .tapete{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main .tapete .mano{
    padding:10px;
    border-radius: 5px;
    border: 1px solid yellow;
    margin: 0 15px;
}

main .tapete .mano img{
    height: auto;
    max-width: 120px;
    width: 100%;
    margin-right: -50px;
    box-shadow: 0 0 5px 1px #383838;
    border-radius: 12px;
}

/* OPCIONES */
main .opciones{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    padding: 20px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 50px;
}

main .opciones button{
    background-color: #364c37;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    color:#fff;
    font-size: 30px;
    font-family: 'Limelight', sans-serif;
    margin: 0 5px;
    padding: 20px 25px;
    position: relative;
    transition: 0.3s;
}

main .opciones button span{
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    display: none;
    font-size: 20px;
    left: -40px;
    right: 0;
    position: absolute;
    padding: 5px 10px;
    top: -45px;
    width: 150px;
}

main .opciones button:hover span{
    display: block;
}

/* FOOTER */
main footer{
    grid-area: footer;
    padding: 20px 10px;
    background-color: #364c37;
    text-align: center;
    color:#fff;
}

main footer a{
    color:#fff;
    text-decoration: none;
}

@media only screen and (max-width: 700px) {

    main header h1.titulo{
        font-size: 12vw;
    }

    main header p.info{
        margin:  -20px 0 0 0;
        font-size: 4vw;
    }

    main .tapete{
        grid-template-columns: 1fr;
    }

    main .tapete .mano{
        margin-top: 20px;
    }

    main .opciones button{
        font-size: 20px;   
    }

}
        