@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'Limelight', sans-serif;
    user-select: none;
}

main{
    display: grid;
    grid-template-areas:
        "header"
        "tablero"
        "footer"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    background-color: #4aa05d;
    height: 100vh;
}

/* HEADER */
main header{
    padding: 30px 10px;
    background-color: #364c37;
    grid-area: header;
}

main .tablero{
    grid-area: tablero;
    display: grid;
    grid-template-areas:
        "tapete opciones"
    ;
    grid-template-columns: 1fr 35%;
}

main header h1{
    font-size: 50px;
    color: #fff;
    text-align: center;
    margin: 0;
}

/* TAPETE */
main .tapete{
    grid-area: tapete;
}

main .tapete .mano{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding:10px;
}

main .tapete .mano img{
    height: auto;
    width: 100%;
}

main .tapete img.barajaC{
    margin-top: 20px;
}

/* OPCIONES */
main .opciones{
    grid-area: opciones;
    display: grid;
    padding: 20px;
}

main .opciones ul{
    padding: 0;
    margin: 0;
}

main .opciones button{
    cursor: pointer;
    background-color: #364c37;
    color:#fff;
    border: 0;
    font-size: 30px;
    font-family: 'Limelight', sans-serif;
    margin-top: 10px;
}

/* FOOTER */
main footer{
    grid-area: footer;
    padding: 20px 10px;
    background-color: #364c37;
    text-align: center;
    color:#fff;
}

main footer a{
    color:#fff;
    text-decoration: none;
}

@media only screen and (max-width: 700px) {
    main .tablero{
        grid-template-areas:
            "tapete"
            "opciones"
        ;
    }

    main .opciones button{
        font-size: 20px;
        
    }
}
        